{% extends 'layout.html' %}

{% block title %} Home {% endblock %}
{% block content %}

<br/>

<!-- quote -->
<div class="row">
    <div class="col-lg-6 mx-auto">

        <!-- CUSTOM BLOCKQUOTE -->
        <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
            <div class="blockquote-custom-icon bg-info shadow-sm"><i class="fa fa-quote-left text-white"></i></div>
            <p class="mb-0 mt-2 font-italic">"You only need 1000 hours of hard practice to master anything in the world."</p>
            <footer class="blockquote-footer pt-4 mt-4 border-top">Gladwell's
                <cite title="Source Title">1000 hours rule</cite>
            </footer>
        </blockquote><!-- END -->

    </div>
</div>

<br/>
<br/>



<!-- record form -->
<form method="POST">
    <p style="font-size: 200%;"> Record form: </p>
    <div class="jumbotron">

        <!-- username row -->
        {% if current_user.is_authenticated %}
            <div class="row">
                <div class="ml-3 mb-5">
                    <p>Hi <b>{{current_user.username}}</b>,
                    record your study time,  then you can
                        <a href="{{url_for('leaderboard')}}">compete with others</a>
                        , or
                        <a href="{{url_for('analysis')}}">watch your analysis</a>
                        (right-top corner). </p>
                </div>
            </div>

        {% else %}
            <div class="row">
                <div class="input-group mb-5 ml-3 mr-3">
                    <div></div>
                    <input type="text" class="form-control" placeholder="Type here your username" name="username">
                </div>
            </div>
        {% endif %}

        <!-- go hold row -->
        <div class="row" style="color: #AAA">
            <p class="ml-3">  Click "Go“ or ”Hold“ when you start or end the study period: </p>

            {% if user_status == "go" %}
                <p class="ml-3">  You have started {{user_status_time}} ago. So please click "Go" .</p>
            {% endif %}

            {% if user_status == "hold" %}
                <p class="ml-3">  You have holded {{user_status_time}} ago. So please click "Hold" .</p>
            {% endif %}


        </div>

        <div class="row">

            <div class="col text-center">
                <button type="submit" class="btn btn-outline-primary" style="width: 100px; height:100px; font-size:140%; border-radius: 50%;" name="go">Go</button>
            </div>

            {% if user_status != "hold" %}
                <div class="col text-center">
                    <button type="submit" class="btn btn-outline-primary" style="width: 100px; height:100px; font-size:140%; border-radius: 50%;" name="hold">Hold</button>
                </div>
            {% endif %}

        </div>


        <hr/>

        <!-- start end time row -->
        <div class="row">
            <p  style="color: #AAA" class="ml-3">  Or input concrete time interval: </p>
        </div>
        <div class="row">
            <div class="col input-group mb-3 mr-5">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">start time</span>
                </div>
                <input type="text" class="form-control" placeholder="eg. 09:00" name="start_time">

            </div>

            <div class="col input-group mb-3 ml-5">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon2">end time</span>
                </div>
                <input type="text" class="form-control" placeholder="eg. 18:00" name="end_time">

            </div>

            <div class="col mb-3">
                <button type="submit" class="btn btn-primary float-right mr-2">Submit</button>
            </div>

        </div>

    </div>

</form>

<br>
<hr/>
<br>

<!-- Today study king display -->

<div style="font-size: 120%;">
    <p> 🔥 Today's study king is: <b> {{ today_king }}</b> (with {{duration_str_king}}) </p>
    <div class="text-center">
        <img src={{path_to_chart_king}} width="100%" height="100%">
        <!-- {{chart_html|safe}} -->
    </div>


</div>


<br>
<hr/>
<br>

<!-- chart last week display -->

<div style="font-size: 120%;">
    <p> Leaderboard of this week: </p>

    <div>
        <p> 🏆 The leader of this board is:<b> {{ name_winner }}</b> (with {{duration_str_winner}})</p>
    </div>

    <div class="text-center">
        <img src={{path_to_chart_lastweek}} width="100%" height="100%">
        <!-- {{chart_html|safe}} -->
    </div>

</div>


{% endblock %}

<script>
  $(document).ready(function () {
    $(".active").removeClass("active");
    $("#nav-home").addClass("active");
  });

</script>