{% extends 'layout.html' %}

{% block title %} Login {% endblock %}
{% block content %}

    <br>

    <form method="POST">

          <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" name="username">
          </div>

          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
          </div>

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>

{% endblock %}


<script>
  $(document).ready(function(){
     $(".active").removeClass("active");
     $("#nav-personal-analysis").addClass("active");
  });
</script>