{% extends 'base.html' %}

{% block title %} Home {% endblock %}
{% block body %}

<body>

  <br />

  <div style="font-size: 200%;">
    <p> (NEW!) Leaderboard of the last week: </p>
    <img src={{path_to_chart_last_week}}>
    <!-- {{chart_html|safe}} -->

  </div>

  <br />


  <!-- quote -->
  <div class="container">
    <blockquote class="blockquote text-right">
      <p class="mb-0">You only need 1000 hours of hard practice to master anything in the world.</p>
      <footer class="blockquote-footer">Gladwell's 1000 hours rule</footer>
    </blockquote>
  </div>


  <!-- honor display -->
  <div style="font-size: 200%;">
    <p> Leaderboard of the entire time: </p>
    <p> The leader of this board is:<b> {{ name_winner }}</b> (with {{duration_str}})</p>
  </div>


  <!-- chart display -->
  <div><img src={{path_to_chart_all}}></div>

  <hr>


  <!-- contacts -->
  <div>
      <p> You are very welcome to join the the STB study group, please contact wechat: zoucongyu1109. </p>
        <a href="https://docs.google.com/spreadsheets/d/1FGoY2IrXavkyiRGZQkvTIgHwHmIrlohR-IDoQ5K4hw4/edit?usp=sharing">click here to edit the google data sheet</a>
      <p>You are very welcome to join the develop team of the StudyTimeBoard (this webapp), this is our repository:
        <a href="https://github.com/Apollo1840/StudyTimeBoard">https://github.com/Apollo1840/StudyTimeBoard</a>
      </p>

  </div>

</body>

{% endblock %}

<script>
  $(document).ready(function(){
     $(".active").removeClass("active");
     $("#nav-home").addClass("active");
  });
</script>