<html>
  <head>
  </head>
  <body>
    <h1> StudyTimeBoard </h1>
    Beta v0.1

    <hr>

    <div>
      <p>
        Gladwell's 1000 hour rule:
        <q> You only need 1000 hours of hard practice to master anything in the world. </q>
      </p>

      <p> The leader of this board is: <b> {{ name_winner }}</b> (with {{duration_str}}). </p>
    </div>

    <div>
      <img src={{path_to_chart}}>
    </div>

    <hr>

    <div>
      <p> You are very welcome to join the the STB study group, please contact wechat: zoucongyu1109. </p>

      <p>You are very welcome to join the develop team of the StudyTimeBoard (this webapp), this is our repository:
        <a href="https://github.com/Apollo1840/StudyTimeBoard">https://github.com/Apollo1840/StudyTimeBoard</a>
      </p>

    </div>


  </body>

</html>